*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
}

#result{
    margin: 30px 0px
}

#inputQuestion{
    height: 60px;
}